@font-face {
  font-family: "obviously";
  src: url(Obviously-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "obviously";
  text-decoration: none;
}
body {
  height: 620vh;
  background-color: #ffe8ba;
}
.pagewrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ============================HEADER================================== */
header {
  width: 94%;
  height: 5.25vw;
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  justify-content: space-between;
  padding-bottom: 8px;
}
header nav,
header nav > a,
header a {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 43px;
  color: black;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  letter-spacing: 0.05em;
}
header nav {
  padding-right: 115px;
}
header a {
  gap: 5px;
}
header h2 {
  margin-top: 4px;
  font-weight: 100;
  font-size: calc((1.4 - 1) * 1.2vw + 1rem);
}
/* ============================HEADER================================== */
/* =======================Main introduction============================ */
main,
main .introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .introduction {
  margin-top: 4.5%;
  padding-left: 3%;
  padding-right: 3%;
}
main .introduction h1 {
  width: fit-content;
  font-size: calc((4.8 - 1) * 1.2vw + 1rem);
  line-height: calc(1.45em * (1 + (1 - 4.8) / 25));
  font-weight: 400;
  text-align: center;
}
main .introduction .introsecimg {
  width: 100%;
  height: 40.3vw;
  border-radius: 60px;
  object-fit: cover;
  object-position: center;
  margin-top: 0.2%;
}
main .introduction .introinfo {
  width: 100%;
  height: 12vw;
  margin-top: 5.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .introduction .introinfo h2 {
  font-size: calc((3.5 - 1) * 1.2vw + 1rem);
  line-height: calc((1.45em) * (1 + (1 - 3.5) / 25));
  font-weight: 400;
  width: 42%;
}
main .introduction .introinfo p {
  width: 32%;
  height: 100%;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  line-height: 1.4em;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  gap: 8%;
  margin-right: 0.7%;
  margin-top: -0.5%;
}
main .introduction .introinfo p a {
  width: fit-content;
  line-height: 1.4em;
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
main .introduction .picturesofintroduction {
  margin-top: 10.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102vh;
  width: 100%;
  gap: 13%;
}
main .introduction .picturesofintroduction .SecondDog,
main .introduction .picturesofintroduction .collar {
  width: 37.4%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .introduction .picturesofintroduction .collar {
  width: 100%;
  height: 100%;
  position: relative;
}
main .introduction .picturesofintroduction div {
  width: 24%;
  height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .introduction .picturesofintroduction div p {
  width: 120px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
main .introduction .picturesofintroduction div button {
  all: unset;
  background-color: black;
  position: relative;
  top: 400px;
  width: 120px;
  height: 50px;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}
@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main .introduction .picturesofintroduction .collar:hover {
  animation-name: dissapear;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

/* =======================Main introduction============================ */
/* =========================Main products============================== */
main .products {
  padding: 0;
  margin-top: 7%;
  height: 102vh;
  width: 100%;
  background-color: #e6d8f9;
}
