* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "obviously";
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: "obviously";
  src: url(Obviously-Regular.ttf);
}
body {
  background-color: #ffe8ba;
}
.page-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========================PageAnimation============================== */
.page-wrapper {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/* =========================PageAnimation============================== */

/* ============================HEADER================================================================== */
header {
  width: 94%;
  height: calc(1.2vw + 3.9rem);
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  justify-content: space-between;
  padding-bottom: 8px;
}
header nav,
header nav > a,
header a {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 43px;
  color: black;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  letter-spacing: 0.05em;
}
header nav {
  padding-right: 115px;
}
header a {
  gap: 5px;
}
header a h2 {
  font-size: calc((1.4 - 1) * 1.2vw + 1rem);
  margin-top: 4px;
  font-weight: 100;
  letter-spacing: 0em;
  text-align: center;
}
header .burger {
  display: none;
  width: 35px;
  height: 35px;
  flex-direction: column;
  justify-content: space-evenly;
}
header .burger .lines {
  width: 100%;
  height: 1px;
  background-color: black;
}
/* =========================HeaderAnimation============================ */
@media only screen and (max-width: 1024px) {
  header {
    padding: 8.3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-bottom: solid 1px black;
  }
  header nav {
    display: none;
  }
  header .burger {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding-left: 0;
    padding-right: 0;
    width: calc(94% - 6vw);
  }
  header a h2 {
    font-size: 1.1875 rem;
  }
}
/* =========================HeaderAnimation============================ */
/* ============================HEADER================================================================== */

/* ============================Main==================================================================== */
/* =======================Main introduction============================ */
main,
main .introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .introduction {
  margin-top: 4.5%;
}
main .introduction h1 {
  font-size: calc((4.8 - 1) * 1.2vw + 1rem);
  line-height: calc(1.45em * (1 + (1 - 4.8) / 25));
  font-weight: 400;
  text-align: center;
  width: 94%;
  word-wrap: break-word;
}
main .introduction .intro-sec-img {
  width: 94%;
  height: 40.3vw;
  border-radius: 60px;
  object-fit: cover;
  object-position: center;
  margin-top: 0.2%;
}
main .introduction .intro-info {
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  height: 42vh;
  margin-top: 6.2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main .introduction .intro-info h2 {
  font-size: calc((3.5 - 1) * 1.2vw + 1rem);
  line-height: calc((1.45em) * (1 + (1 - 3.5) / 25));
  font-weight: 400;
  width: 42%;
}
main .introduction .intro-info p {
  width: 32.5%;
  height: 100%;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  line-height: 1.4em;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  gap: 5.5%;
  margin-right: 0.7%;
  margin-top: -0.5%;
}
main .introduction .intro-info p a {
  width: fit-content;
  line-height: 1.4em;
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
main .introduction .pictures-of-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52vw;
  width: 100%;
  gap: 13%;
}
main .introduction .pictures-of-introduction .second-dog,
main .introduction .pictures-of-introduction .collar {
  width: 34%;
  height: 96%;
  object-fit: cover;
  object-position: center;
}
main .introduction .pictures-of-introduction .collar {
  height: 100%;
  width: 95%;
  position: relative;
}
main .introduction .pictures-of-introduction .side-picture {
  width: 24%;
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}
main .introduction .pictures-of-introduction .side-picture p {
  width: 120px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
main .introduction .pictures-of-introduction .quick-view,
main .introduction .pictures-of-introduction .quick-view a {
  position: relative;
  width: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
main .introduction .pictures-of-introduction .quick-view {
  position: absolute;
  top: 0px;
  bottom: 50px;
  padding-bottom: 20px;
}
main .introduction .pictures-of-introduction .quick-view a {
  width: 120px;
  height: 40px;
  color: white;
  background-color: black;
  align-items: center;
  font-size: 0.75rem;
  font-family: Helvetica, Arial, sans-serif;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.quick-view {
  animation-name: disappear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
.quick-view:hover {
  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
/* =========================IntroductionAnimation====================== */
@media only screen and (max-width: 768px) {
  main .introduction .intro-sec-img,
  main .introduction h1,
  main .introduction .intro-info {
    padding-left: 0;
    padding-right: 0;
    width: calc(94% - 6vw);
  }
  main .introduction .intro-sec-img {
    height: 250px;
    margin-top: 20%;
  }
  main .introduction h1 {
    font-size: 2.8125rem;
  }
  main .introduction .intro-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  main .introduction .intro-info h2,
  main .introduction .intro-info p {
    width: 100%;
  }
  main .introduction .intro-info p {
    gap: 15px;
  }
  main .introduction .pictures-of-introduction {
    flex-direction: column;
    gap: 15px;
    height: 140vw;
    width: calc(94% - 6vw);
    margin-top: calc((0.9 - 1) * 30vw + 3.5rem);
    margin-bottom: calc((0.9 - 1) * 30vw + 3.125rem);
  }
  main .introduction .pictures-of-introduction .second-dog {
    width: 60%;
    height: 300px;
    align-self: flex-start;
  }
  main .introduction .pictures-of-introduction .side-picture {
    width: 64%;
    height: 70%;
    align-self: flex-end;
  }
  main .introduction .pictures-of-introduction .side-picture .collar {
    height: 100%;
  }
}
@media only screen and (max-width: 456px) {
  main .introduction .pictures-of-introduction {
    height: 638px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  main .introduction .intro-info {
    height: fit-content;
  }
}
@media only screen and (max-width: 232px) {
  main .introduction .intro-info {
    gap: 0;
  }
}
/* =========================IntroductionAnimation====================== */
/* =======================Main introduction============================ */

/* =========================Main products============================== */
main .products {
  position: relative;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  margin-top: 7%;
  height: 52vw;
  width: 100%;
  background-color: #e6d8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .products ul,
main .products ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .products ul li {
  flex-direction: column;
  width: 30%;
}
main .products ul li .first-collar {
  width: 100%;
  height: 72%;
  object-position: center;
  object-fit: cover;
}
main .products ul li:last-child .first-collar {
  object-position: 50.9301% 100%;
}
main .products ul li div {
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}
main .products ul li h2 {
  font-size: calc((1.5 - 1) * 1.2vw + 1rem);
  font-weight: lighter;
  text-align: center;
}
main .products ul li .info-under-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 13px;
  margin-bottom: 13px;
}

main .products ul li button {
  all: unset;
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  min-height: 40px;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 5px;
  text-align: center;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  font-weight: 600;
}
main .products ul li button:hover {
  background-color: black;
  color: #e6d8f9;
  cursor: pointer;
  font-weight: lighter;
  transition-duration: 500ms;
}
main .products ul .arrow-to-the-right-btn {
  all: unset;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 37px;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .products ul .arrow-to-the-right-btn:hover {
  cursor: pointer;
  opacity: 1;
}
main .products ul .arrow-to-the-right-btn .arrow-to-the-right {
  width: 36px;
  height: 40px;
}
main .products ul .first-product .buttons-rl button {
  position: static;
  width: 40px;
  height: 40px;
}
main .products ul .first-product .buttons-rl {
  width: 100px;
  height: fit-content;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
main .products ul .first-product .buttons-rl button img {
  width: 20px;
  height: 20px;
}
/* =========================Products Animation========================= */
@media only screen and (min-width: 992px) and (max-width: 1190px) {
  main .products ul li .first-collar {
    height: 67.3%;
  }
  main .products ul li .info-under-pic {
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 992px) {
  main .products {
    height: calc(118px + 59vw);
  }
  main .products ul li {
    width: 40vw;
  }
  main .products ul li .first-collar {
    height: 73%;
  }
  main .products ul li:last-child {
    display: none;
  }
  main .products ul li .info-under-pic {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  main .products {
    height: calc(360px + 75vw);
  }
  main .products ul .arrow-to-the-right-btn {
    display: none;
  }
  main .products ul li:not(:first-child) {
    display: none;
  }
  main .products ul li {
    justify-content: top;
    gap: 15px;
    width: 100%;
  }
  main .products ul li .info-under-pic {
    gap: 10px;
    margin: 0;
  }
  main .products ul .first-product .buttons-rl {
    display: flex;
  }
  main .products ul .first-product .buttons-rl button {
    display: flex;
    opacity: 1;
  }
}
/* =========================Products Animation========================= */
/* =========================Main products============================== */

/* =========================Main feedback============================== */
main .feedback {
  width: 100%;
  height: calc(269px + 27.8vw);
  background-color: white;
  padding-top: 7.3vmax;
  padding-bottom: 7.5vmax;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
main .feedback h2 {
  font-size: calc((3.5 - 1) * 1.2vw + 1rem);
  letter-spacing: 0em;
  line-height: 1.4em;
  font-weight: 400;
}
main .feedback .dog-painting {
  object-fit: cover;
  object-position: center;
  width: 13%;
  height: 20%;
}
main .feedback .paragraph-for-feedback {
  width: 58%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
}
main .feedback .paragraph-for-feedback h3 {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  line-height: calc(1.45em * (1 + (1 - 3.5) / 25));
}
main .feedback .paragraph-for-feedback p {
  width: 100%;
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  line-height: 1.4em;
  margin-top: 20px;
}
main .feedback .big-buttons-rl {
  display: flex;
  gap: 20px;
}
main .feedback .big-buttons-rl .arrow-to-the-right-btn,
main .feedback .small-buttons-rl button {
  all: unset;
  background-color: black;
  opacity: 0.7;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .feedback .big-buttons-rl .arrow-to-the-right-btn:hover {
  cursor: pointer;
  opacity: 1;
}
main .feedback .big-buttons-rl .arrow-to-the-right-btn .arrow-to-the-right {
  width: 36px;
  height: 36px;
}
main .feedback .small-buttons-rl {
  width: 100px;
  height: fit-content;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
main .feedback .small-buttons-rl button {
  width: 40px;
  height: 40px;
  opacity: 1;
}
main .feedback .small-buttons-rl button img {
  width: 20px;
  height: 20px;
}
/* =========================Feedback Animation========================= */
@media only screen and (max-width: 745px) and (min-width: 574px) {
  main .feedback {
    height: calc(631px - 17.5vw);
  }
}
@media only screen and (max-width: 574px) {
  main .feedback {
    height: calc(730px - 35vw);
  }
  main .feedback .dog-painting {
    width: 54px;
    height: 94px;
  }
  main .feedback .big-buttons-rl {
    display: none;
  }
  main .feedback .small-buttons-rl {
    display: flex;
  }
}
/* =========================Feedback Animation========================= */
/* =========================Main feedback============================== */
/* ============================Main==================================================================== */

/* =========================Footer===================================================================== */
footer {
  width: 100%;
  height: 57.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  padding-top: 3.3vmax;
  padding-bottom: 3.3vmax;
  overflow-wrap: break-word;
}
/* =========================Footer Instagram============================ */
footer .instagram {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(10px + 4.1vw);
  padding-left: 3vw;
  padding-right: 3vw;
}
footer .instagram .title-instagram {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .instagram .title-instagram h2 {
  width: 100%;
  font-size: calc((3.5 - 1) * 1.2vw + 1rem);
  line-height: calc(1.45em * (1 + (1 - 3.5) / 25));
  font-weight: 400;
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: center;
}
footer .instagram .title-instagram h2 a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  cursor: pointer;
}
footer .instagram .title-instagram p {
  width: 100%;
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  letter-spacing: 0.05em;
  text-align: center;
}
footer .instagram .insta-pictures {
  display: grid;
  gap: 11px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
footer .instagram .instagram-sec-pics {
  object-fit: cover;
  object-position: center;
  height: calc(76px + 16.3vw);
  width: 100%;
  border-radius: 40px;
}
/* =========================Footer Instagram Animation================= */
@media only screen and (max-width: 768px) {
  footer {
    width: calc(94% - 6vw);
    overflow-wrap: break-word;
  }
  footer .instagram {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
  }
  footer .instagram .title-instagram {
    height: 164px;
    justify-content: center;
  }
  footer .instagram .title-instagram h2 {
    font-size: calc(2.1875rem + 0.1vw);
    line-height: calc(1.45em * (1 + (1 - 3.5) / 25));
  }
  footer .instagram .insta-pictures {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer .instagram .instagram-sec-pics {
    height: 164px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 312px) {
  footer .instagram {
    height: 549px;
  }
}
@media only screen and (max-width: 312px) {
  footer .instagram {
    height: calc(806px - 81vw);
  }
}
/* =========================Footer Instagram Animation================== */
/* =========================Footer Instagram============================ */

/* =========================Footer end-footer============================ */
footer .end-footer {
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  height: calc(244.8px + 0.01vw);
  padding-top: calc(16vmax / 10);
  padding-bottom: calc(16vmax / 3.1);
}
footer .end-footer .footer-components {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #ffe8ba;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 40% 40%;
}
footer .end-footer .footer-components .westley-pets {
  grid-row: span 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer .end-footer .footer-components .westley-pets h4 {
  font-size: calc((1.4 - 1) * 1.2vw + 1rem);
  line-height: calc(1.45em * (1 + (1 - 1.4) / 25));
  font-weight: 400;
}
footer .end-footer .footer-components .westley-pets .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 13px;
  margin-bottom: 15px;
}
footer .end-footer .footer-components .westley-pets p {
  font-size: calc((0.8 - 1) * 1.2vw + 1rem);
  line-height: 1.4em;
  letter-spacing: 0.05em;
}
footer .end-footer .footer-components .contact-list {
  grid-column: 2;
  grid-row: span 3;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
}
footer .end-footer .footer-components .contact-list ul {
  list-style: none;
  height: 100%;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  letter-spacing: 0.05em;
  line-height: 1.4em;
  margin-left: 60px;
  grid-row: 19;
}
footer .end-footer .footer-components .contact-list ul a,
footer .end-footer .footer-components .westley-pets p a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}
footer .end-footer .footer-components .final-grid {
  grid-column: 3;
  grid-row: span 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 1fr);
}
footer .end-footer .footer-components .final-grid .getupdates {
  grid-row-start: 5;
  display: flex;
}
footer .end-footer .footer-components .final-grid .getupdates p {
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  letter-spacing: 0.05em;
  line-height: 1.4em;
}
footer .end-footer .footer-components .final-grid .searchbar-and-button {
  justify-content: space-between;
  align-items: center;
  grid-row-start: 19;
}
footer
  .end-footer
  .footer-components
  .final-grid
  .searchbar-and-button
  input[type="email"]::placeholder {
  color: rgb(212, 206, 206);
}
footer
  .end-footer
  .footer-components
  .final-grid
  .searchbar-and-button
  input[type="email"]:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: 2px;
}
footer
  .end-footer
  .footer-components
  .final-grid
  .searchbar-and-button
  input[type="email"] {
  all: unset;
  width: 220px;
  background-color: white;
  padding: 1.4rem 2rem;
  font-size: calc((0.9 - 1) * 1.2vw + 1rem);
  line-height: 1.2rem;
  letter-spacing: 0.05em;
}
footer .end-footer .footer-components .final-grid .searchbar-and-button form {
  grid-row-start: 15;
  display: flex;
  gap: 10px;
}
footer
  .end-footer
  .footer-components
  .final-grid
  .searchbar-and-button
  form
  button {
  all: unset;
  width: 136.97px;
  height: 64px;
  text-align: center;
  background-color: transparent;
  border: 1.6px solid black;
  border-radius: 6.4px;
  letter-spacing: 0.02em;
  line-height: 1.2rem;
  font-weight: 600;
  text-wrap: nowrap;
}
footer
  .end-footer
  .footer-components
  .final-grid
  .searchbar-and-button
  form
  button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
/* =========================end-footerAnimation========================== */
@media only screen and (max-width: 768px) {
  footer {
    height: 1000px;
    gap: 10px;
  }
  footer .end-footer .footer-components {
    height: 350px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer .end-footer .footer-components .westley-pets {
    grid-column: span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  footer .end-footer .footer-components .westley-pets h4 {
    grid-column: 1;
    grid-row: 1;
  }
  footer .end-footer .footer-components .westley-pets .social-media {
    grid-column: 2;
    grid-row: 1;
    margin-left: 5px;
  }
  footer .end-footer .footer-components .westley-pets p {
    grid-column: 2;
    grid-row: 2;
    overflow-wrap: break-word;
  }
  footer .end-footer .footer-components .final-grid {
    grid-column: span 3;
    grid-row: 3;
    display: block;
  }
  footer .end-footer .footer-components .final-grid .searchbar-and-button form {
    flex-direction: column;
  }
  footer
    .end-footer
    .footer-components
    .final-grid
    .searchbar-and-button
    form
    input[type="email"] {
    width: 60%;
  }
  footer .end-footer .footer-components .contact-list {
    grid-row: 2;
    grid-column: 1;
    display: block;
    height: 50px;
  }
  footer .end-footer .footer-components .contact-list ul {
    margin: 0;
  }
}
@media only screen and (max-width: 326px) {
  footer .end-footer .footer-components {
    height: calc(750px - 100vw);
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 225px) {
  footer .end-footer .footer-components .westley-pets p {
    word-break: break-all;
  }
}
/* =========================end-footerAnimation========================== */
/* =========================Footer end-footer============================ */
/* =========================Footer===================================================================== */

/* SSSSSSSSSSSSSSSSSSSSSSSsquarespace-buttonSSSSSSSSSSSSSSSSSSSSSSSS  */
.page-wrapper a .squarespace-button {
  background-image: url(logo..svg);
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 243px;
  height: 76px;
  right: 11px;
  top: 87.9%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.page-wrapper a .squarespace-button .for-animation {
  width: 729px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 243px);
  grid-template-rows: 1fr;
}
.page-wrapper a .squarspacelogo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.page-wrapper a .squarespace-button .for-animation .grey-box {
  background-color: white;
  opacity: 0.2;
}
@keyframes onhover {
  0% {
  }
  100% {
    transform: translateX(243px);
  }
}
@keyframes offhover {
  0% {
    transform: translateX(243px);
  }
  100% {
    transform: translateX(0px);
  }
}
.page-wrapper a .squarespace-button .for-animation {
  animation-name: offhover;
  animation-timing-function: linear;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.page-wrapper a .squarespace-button .for-animation:hover {
  animation-name: onhover;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
/* SSSSSSSSSSSSSSSSSSSSSSSsquarespace-buttonSSSSSSSSSSSSSSSSSSSSSSSS  */
